{% extends 'base.html.twig' %}

{% block body %}

    {#{% for key,value in filters %}#}
        {#Key : {{ key }}#}
        {#{% for key2,value2 in value %}#}
            {#Key2 : {{ key2 }}#}
            {#Value2: {{ value2.ram }}#}
        {#{% endfor %}#}
    {#{% endfor %}#}
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <h4>
                    Filters
                </h4>
            </li>
            {% for key,value in filters %}
                <li class="filter-item">
                    {{ key | upper }}
                </li>
                <div class="hidden test">

                    {% for innerKey, innerValue in value %}
                        <li>
                        {% if key == "ram" %}
                            <label>
                                <input type="checkbox" name="ram" value="{{ innerValue.id}}">
                                {{ innerValue.ram }}<br>
                            </label>

                        {% endif %}
                        {% if key == "state" %}
                            <label>
                                <input type="checkbox" name="state" value="{{ innerValue.id}}">
                                {{ innerValue.state }}<br>
                            </label>

                        {% endif %}
                        {% if key == "brand" %}
                            <label>
                                <input type="checkbox" name="brand" value="{{ innerValue.id}}">
                                {{ innerValue.brandName }}<br>
                            </label>
                        {% endif %}
                    {% endfor %}
                        </li>


                </div>
                <hr>
            {% endfor %}
            <li class="filter-item">
                PRICE
            </li>
            <li class="hidden">
                <div class="form-inline">
                    <input type="number" id="min-price" class="form-control half input-sm" placeholder="Min price">
                </div>

                <div class="form-inline">
                    <input type="number" id="max-price" class="form-control half input-sm" placeholder="Max price">
                </div>
            </li>
            <hr>
            <li>
                <div class="form-inline">
                    <button id="filter-button" class="btn btn-sm btn-danger">Filter!</button>
                </div>
            </li>


        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <div class="container" id="page-content-wrapper">
        <h2 class="green">Promoted</h2>
        <div class="row">
            {% for laptop in promoted %}
                <div class="col-md-4 col-sm-12">
                    <div class="col-md-12 well">
                       <a href="{{ path('laptop_show', {'id': laptop.id}) }}">
                           <h4 class="text-center">{{ laptop.title }}</h4>
                        <p>
                            {% for image in laptop.images %}
                                {% if image.main %}
                                <img src="{{ image.path }}" class="scale">
                                {% endif %}
                            {% endfor %}

                        </p></a>
                        <p>
                            Price: {{ laptop.price }}
                        </p>
                        <p>
                            Model and Brand: {{ laptop.model.brand.brandName }} - {{ laptop.model.model }}
                        </p>
                    </div>
                </div>
        {% endfor %}
        </div>

        <h2 class="green">Top rated</h2>
        <div class="row">
            {% for laptop in topRated %}
                <div class="col-md-4">
                    <div class="col-md-12 well">
                        <a href="{{ path('laptop_show', {'id': laptop.id}) }}">
                            <h4 class="text-center">{{ laptop.title }}</h4>

                        <p>
                            {% for image in laptop.images %}
                                {% if image.main %}
                                    <img src="{{ image.path }}" class="scale">
                                {% endif %}
                            {% endfor %}
                        </p></a>
                        <p>
                            Price: {{ laptop.price }}
                        </p>
                        <p>
                            Model and Brand: {{ laptop.model.brand.brandName }} - {{ laptop.model.model }}
                        </p>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
</div>
    {{ parent() }}


{% endblock %}

