{% extends 'base.html.twig' %}

{% block body %}
    <div class="container laptop-table">
        <h2>Active</h2>
        <div class="row">
            <div class="col-md-12 well active">
                <button id="deactivate-button" class="btn btn-sm btn-danger">Deactivate!</button>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>State</th>
                        <th>Brand</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for laptop in laptops %}
                            {% if laptop.isActive %}
                            <tr>
                                <td><input type="checkbox" name="active" value="{{ laptop.id}}"></td>
                                <td>{{ laptop.title }}</td>
                                <td>{{ laptop.state.state }}</td>
                                <td>{{ laptop.model.brand.brandName }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <h2>Inactive</h2>
        <div class="row">
            <div class="col-md-12 well inactive">
                <button id="activate-button" class="btn btn-sm btn-primary">Activate!</button>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>State</th>
                        <th>Brand</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for laptop in laptops %}
                        {% if laptop.isActive==0 %}
                            <tr>
                                <td><input type="checkbox" name="inactive" value="{{ laptop.id}}"></td>
                                <td>{{ laptop.title }}</td>
                                <td>{{ laptop.state.state }}</td>
                                <td>{{ laptop.model.brand.brandName }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    {% block footer %}
    {{ parent() }}
    {% endblock %}

{% endblock %}

