{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">


        <div class="row">

            <div class="col-md-6 col-md-offset-3 well">
                {% block form %}
                {% if success is defined %}
                <h2>
                    {{ success }}
                </h2>

                {% else %}
                    <h2><span class="glyphicon glyphicon-envelope"></span> Contact us:</h2>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                {% endif %}
                {% endblock %}
            </div>


        </div>

    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}

